@font-face {
  font-family: Montserrat-Regular;
  src: url(Montserrat-Regular.ttf);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Montserrat-Regular, Helvetica, Arial, sans-serif!important;
}

.carousel-item-custom {
	height:630px;
	background-color: #000623;
}

.container-custom {
	display: flex;
	align-items: center;
}

.first-container-text {
	width:600px;
	margin: auto;
	color:#fff;
	margin-top: 125px;
}

.general-container-text {
	width:350px;
	margin: auto;
	color:#fff;
	font-size: 125%;
}